<div class="attributes">
	<div class="splitcontentleft">
		<%= render :partial => 'issue_sprint_team_form' %>
	</div>
</div>
<%# content_for :header_tags do %>
	<%#= javascript_include_tag "redmine_agile", :plugin => 'redmine_agile' %>
<%# end %>
